[Unit]
Description=Randomize wallpaper with waypaper

[Service]
Type=oneshot
ExecStart=/usr/bin/waypaper --random --folder %h/.config/wallpapers/space/

